.dados{
    display: block;
    margin: 0 auto;
    margin-top: 55px;
    margin-left: 10px;
    overflow: auto;
    height: 500px;
}

.pesquisa{
    position: relative;
    left: 60%;
    height: 30px;
    width: 300px;
    top: -96%;
}

#pesquisar_funcionarios{
    position: relative;
    height: 30px;
    width: 300px;
    top: -111%;
    padding-left: 35px;
    color: #E1E1E6;
    z-index: 998;
}

.pesquisar_funcionarios{
    position: relative;
    left: 26%;
    height: 30px;
    width: 28px;
    top: -122.5%;
    font-size: 20px !important;
    color: #E1E1E6;
    z-index: 999;
    display: block;
}

.dados_funcionarios > input{
    margin-right: 0px;
    margin-top: 50px; 
}

.dados_funcionarios > input{
    margin-right: 0px;
    margin-top: 50px;
    border: 10px #282433 solid;
    padding: 10px;
}

.dados_funcionario > input{
    margin-right: 0px;
    margin-top: 50px; 
}

.dados_funcionario > input{
    margin-right: 0px;
    margin-top: 50px;
    border: 10px #282433 solid;
    padding: 10px;
}

/* .dados_pessoas{
    width: 100% !important;
    display: inline-block;
} */

.dados_Pessoas_id{
    width: 40px;
    margin-left: 2%;
}

.dados_Pessoas_nome{
    margin-left: 20%;
    width: 52px;
    position: absolute;
    top: 23%;
}

.dados_Pessoas_e{
    margin-left: 42%;
    width: 57px;
    position: absolute;
    top: 23%;
}

.dados_Pessoas_tel{
    margin-left: 64%;
    width: 75px;
    position: absolute;
    top: 23%;
}

h4{
    position: relative;
    top: -10px;
    width: 100px;
}

#ID_funcionarios{ 
    width: auto;
    margin-top: 10px
}


#telefone_funcionarios{
    width: 37%;
    padding: 10px;
}

.modal{
    width: 750px;
    height: 530px;
    background-color: rgba(38, 19, 81, 0.839);
    display: flex;
    flex-direction: column;
    position: relative;
    top: -700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    display: none;
    z-index: 999;
}

#mes-receber{
    color: #E1E1E6;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#sair{
    color: #E1E1E6;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position:absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

#modal_holerite{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    z-index: 998;
}

.id_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 50px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.id_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.id_modal > h4{
    top: 0px;
}

.empresa_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 100px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.empresa_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.empresa_modal > h4{
    top: 0px;
}

.nome_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 150px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.nome_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.nome_modal > h4{
    top: 0px;
}

.cpf_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 200px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.cpf_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.cpf_modal > h4{
    top: 0px;
}

.telefone_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 250px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.telefone_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.telefone_modal > h4{
    top: 0px;
}

.email_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 300px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.email_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.email_modal > h4{
    top: 0px;
}

.funcao_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 350px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.funcao_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.funcao_modal > h4{
    top: 0px;
}

.horaPrevista_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 400px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.horaPrevista_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.horaPrevista_modal > h4{
    top: 0px;
}

.salario_modal{
    background-color: #7855C3;
    width: 90%;
    height: 40px;
    position: absolute;
    top: 450px;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
    color: #E1E1E6;
}

.salario_modal > input{
    padding-left: 10px;
    margin-top: 0px !important;
    width: auto;
    margin-right: 0px !important;
    float: left;
}

.salario_modal > h4{
    top: 0px;
}

@media screen and (max-width: 752px) {

    .pesquisa{
        position: relative;
        left: 49%;
        height: 30px;
        width: 300px;
        top: -96%;
        padding-left: 35px;
        color: #E1E1E6;
    }

    #pesquisar_funcionarios{
        width: 200px;
        top: -109%;
    }

    .pesquisar_funcionarios{
        left: 26.5%;
        top: -116.5%;
    }

    .modal{
        width: 550px;
        top: -105%;
    }

    .dados{
        margin-left: 0px;
    }

    .dados_funcionarios{
        font-size: 13px !important;
        margin-right: 0px;
        
    }

    .dados_funcionario{
        font-size: 13px !important;
        margin-right: 0px;
        
    }

    .dados_Pessoas_id{
        width: 40px;
        display: block;
        margin-left: 1%;
    }
    
    .dados_Pessoas_nome{
        margin-left: 1%;
        width: 69px;
    }
    
    .dados_Pessoas_e{
        margin-left: 21%;
        width: 58px;
    }
    
    .dados_Pessoas_tel{
        margin-left: 19%;
        width: 77px;
    }

    .id_modal{
        width: 85%;
    }

    .empresa_modal{
        width: 85%;
    }

    .nome_modal{
        width: 85%;
    }

    .cpf_modal{
        width: 85%;
    }

    .telefone_modal{
        width: 85%;
    }

    .email_modal{
        width: 85%;
    }

    .funcao_modal{
        width: 85%;
    }

    .horaPrevista_modal{
        width: 85%;
    }

    .salario_modal{
        width: 85%;
    }

}


@media screen and (max-width: 571px) {

    .modal{
        width: 400px;
    }

    .pesquisa{
        left: 16%;
        
    }

    #pesquisar_funcionarios{
        width: 150px;
    }

    .pesquisar_funcionarios{
        left: 37.5%;
        top: -116.5%;
    }

}

@media screen and (max-width: 375px) {

    .modal{
        width: 375px;
    }

}