*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow: none !important;
}

body{
    background-color: #171322;
    display: flex;
}

.img-login{
    max-width: 53%;
}

.img-login, div{
    position: relative;
    top: -101%;
    background-color: #17132281;
    height: 101vh;
    overflow: none !important;
}

.login{
    width: 47%;
    height: 100vh;
}

.login > img{
    position: absolute;
    margin-left: 30%;
}

.login > h3, input{
    position: relative;
    top: 40%;
    /*left: 30%;*/
    margin-left: 30%;
}

.login > h3{
    width: 10px;
    font-size: 20px;
    color: #E1E1E6;
    padding-bottom: 6px;
    padding-top: 20px;
}

.login > input{
    outline: none;
    box-shadow:none; 
    border-color:transparent;
    width: 100%;
    max-width: 300px;
    height: 30px;
    background-color: #282433;
    color: #E1E1E6;
    padding-left: 10px;
}

#button{
    background-color: #7855C3; 
    /*position: absolute; 
    top: 430px; 
    left: 990px;*/
    font-size: 18px; 
    width: 100px;
    display: flex;
    margin-left: 30%;
    margin-top: 30px;
    padding-left: 23px;
    cursor: pointer;
}

#button:hover{
    background-color: #442588;
}

@media screen and (max-width: 1122px){
    #button{
        margin-left: 20%;
    }

    .login > h3, input{
        margin-left: 20%;
    }

    .login > img{
        position: absolute;
        margin-left: 20%;
    }

}

@media screen and (max-width: 942px){
    #button{
        margin-left: 10%;
    }

    .login > h3, input{
        margin-left: 5%;
    }

    .login > img{
        position: absolute;
        margin-left: 20%;
    }

}

@media screen and (max-width: 718px){
    #button{
        margin-left: 10%;
    }

    .login > h3, input{
        margin-left: 5%;
    }

    .login > img{
        position: absolute;
        margin-left: 20%;
    }

}

@media screen and (max-width: 705px){
    
    .img-login{
        display: none;
    }

    .login{
        width: 100%;
        margin-left: 20%;
    }

    .login > img{
        position: absolute;
        margin-left: 15%;
    }

}

@media screen and (max-width: 414px){

    .login{
        width: 100%;
        margin-left: 10%;
    }

    .login > img{
        position: absolute;
        margin-left: 18%;
        margin-top: 100px;
    }

}

@media screen and (max-width: 360px){

    .login{
        width: 100%;
        margin-left: 5%;
    }

    .login > input{
        width: 90%;
        max-width: 300px;
    }

}